{{ define "main" }}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

  <section class="section">
    <div class="container bg-about py-3">
      <div class="row justify-content-center py-5">
        <div class="col-lg-9 text-center mb-4">
          <!--<img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">-->
          <h3>{{ .Title }}</h3>
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }}</p>
          <p class="font-secondary">Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes </p>
          {{if isset .Params "github"}}
          <i class="ti-github"> {{ .Params.github | markdownify}}</i>
          {{end}}
        </div>
        <div class="col-lg-9">
          <div class="content text-light">
            {{.Content }}
          </div>
        </div>
      </div>
      <!-- Next and PrevPage inside current section -->
  <div class="row justify-content-center py-5">
    {{with .NextInSection}}
      <a class=" col-md-5" href="{{.Permalink}}"> &laquo; {{.Title}}</a>
    {{end}}
    {{with .PrevInSection}}
      <a class="col-md-5 text-lg-right" href="{{.Permalink}}">{{.Title}} &raquo;</a>
    {{end}}
  </div>
      <!-- End Next and PrevPage -->

      <!-- DISQUS COMMENTS -->
      {{ partial "comments" . }}

      {{ partial "comments-counter" . }}
    </div>
  </section>


  

{{ end }}