<!-- Pagination
================================================== -->
<div class="bottompagination">
  <div class="pointerup"><i class="fa fa-caret-up"></i></div>
  <!--<span class="navigation" role="navigation">-->
    {{ $pag :=$.Paginator }}
    {{ if gt $pag.TotalPages 1 }}
      <div class="pagination">
        {{ if $pag.HasPrev }}
          <a class="ml-1 mr-1" href="{{$pag.Prev.URL}}">&laquo; Prev</a>
          <a class="ml-1 mr-1" href="{{$pag.Prev.URL}}">{{ $pag.Prev.PageNumber }}</a>
        {{ else }}
          <span>&laquo; Prev</span>
        {{ end }}

        <span class="ml-1 mr-1">{{ $pag.PageNumber }}</span>

        {{ if $pag.HasNext }}
          <a class="ml-1 mr-1" href="{{$pag.Next.URL}}">{{ $pag.Next.PageNumber }}</a>
          <a class="ml-1 mr-1" href="{{$pag.Next.URL}}">Next &raquo;</a>
        {{ else }}
          <span>Next &raquo;</span>
        {{ end }}
      </div>
    {{ end }}
  <!--</span>-->
</div>